In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r'data_set_limpio/games_preparado.csv.gz')
item = pd.read_csv(r'data_set_limpio/items_preparado.csv.gz')
opinion = pd.read_csv(r'data_set_limpio/reviews_preparado.csv.gz')
# --- > lectura de datos

In [3]:
prueba1 = pd.merge(opinion[['item_id','opinion','user','recommend']], df[['release_date','id','developer']], left_on='item_id', right_on='id')# --- > en este merge realizo la union solo de las columnas necesarias para realizar la tarea

prueba1['recommend'] = prueba1['recommend'].replace({True: 1, False: 0}) # --- > cambio los valores de la columna recommend, para poder utilizarlos de una forma mas sencilla en mi funcion

#prueba1['release_date'] = prueba1['release_date'].apply(extraer_anio)  # --- > utilizo la funcion que cree para extraer el anio de cada fila en la columna release_date

for index, row in prueba1.iterrows(): # --- > en este iterador creo la nueva columna y le coloco 1 si recommend + opinion es 2
    if row[1] == 2 and row[3] == 1:
        prueba1.at[index, 'Positivo'] = 1
    else:
        prueba1.at[index, 'Positivo'] = 0

prueba1['Positivo'] = prueba1['Positivo'].astype(int) 

prueba1

C:\Users\jonat\AppData\Local\Temp\ipykernel_18160\535244956.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if row[1] == 2 and row[3] == 1:
C:\Users\jonat\AppData\Local\Temp\ipykernel_18160\535244956.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if row[1] == 2 and row[3] == 1:

,item_id,opinion,user,recommend,release_date,id,developer,Positivo
0,1250,2,76561197970982479,1,2009,1250,Tripwire Interactive,1
1,1250,2,death-hunter,1,2009,1250,Tripwire Interactive,1
2,1250,1,DJKamBer,1,2009,1250,Tripwire Interactive,0
3,1250,0,diego9031,1,2009,1250,Tripwire Interactive,0
4,1250,0,76561198081962345,1,2009,1250,Tripwire Interactive,0
...,...,...,...,...,...,...,...,...
49590,307130,2,llDracuwulf,1,2014,307130,Legend Studio,1
49591,209120,2,ChrisCoroner,1,2012,209120,"Capcom U.S.A., Inc.",1
49592,220090,0,MeloncraftLP,1,2013,220090,SkyGoblin,0
49593,262850,0,MeloncraftLP,1,2014,262850,SkyGoblin,0
49594,431510,2,vinquility,1,2016,431510,Aeon Dream Studios,1

In [5]:
anio = prueba1['release_date'].unique()

In [6]:
anio

array([2009, 2013, 2015, 2014, 2011, 2016, 2012, 2004, 2007, 2017, 2006,
       2010, 2002, 1995, 2003, 2005, 1998, 2008, 1990, 1992, 1993, 1999,
       2000, 2001, 1997, 1996, 1994, 1989, 1991], dtype=int64)

In [8]:
end4 = {}

for x in anio:
    end4[x] = dict(prueba1.loc[(prueba1['release_date'] == x) & (prueba1['Positivo'] == 1)]['developer'].value_counts())

In [10]:

filtered_dict = {}

for key, value in end4.items():
    filtered_dict[key] = dict(list(value.items())[:3])

filtered_dict

{2009: {'Valve': 426,
  'Tripwire Interactive': 178,
  'Infinity Ward,Aspyr (Mac)': 47},
 2013: {'Bohemia Interactive': 516,
  'Facepunch Studios': 441,
  'Digital Extremes': 383},
 2015: {'Psyonix, Inc.': 176, 'Rockstar North': 154, 'tobyfox': 147},
 2014: {'Edge of Reality': 198,
  'Coffee Stain Studios': 152,
  'New World Interactive': 132},
 2011: {'Re-Logic': 515, 'Valve': 252, 'No More Room in Hell Team': 146},
 2016: {'Chucklefish': 251, 'Reto-Moto': 119, 'Klei Entertainment': 75},
 2012: {'Valve': 2095,
  'Gearbox Software,Aspyr (Mac &amp; Linux)': 389,
  'Daybreak Game Company': 235},
 2004: {'Valve': 293, 'The Creative Assembly': 10, 'Troika Games': 4},
 2007: {'Valve': 2442, '2K Boston,2K Australia': 49, 'Zombie Panic Team': 18},
 2017: {'Smartly Dressed Games': 594,
  'Freejam': 178,
  'Studio Wildcard,Instinct Games,Efecto Studios,Virtual Basement LLC': 160},
 2006: {'Facepunch Studios': 1104,
  'Nabi Studios': 47,
  'Relic Entertainment': 33},
 2010: {'Firaxis Games,Aspyr (Mac, Linux)': 238,
  'TaleWorlds Entertainment': 136,
  'Obsidian Entertainment': 130},
 2002: {'Bethesda Game Studios': 14,
  'Rockstar Games': 6,
  'FireFly Studios': 3},
 1995: {'LucasArts': 5, 'id Software': 4, 'Wisdom Tree, Inc.': 1},
 2003: {'Running With Scissors': 37,
  'BioWare,Aspyr (Mac)': 15,
  'Rockstar Games': 10},
 2005: {'Pandemic Studios': 58, 'Synergy Team': 19, 'Rockstar Games': 19},
 1998: {'Valve': 40, 'Oddworld Inhabitants': 5, 'Black Isle Studios': 4},
 2008: {'Treyarch': 39, 'Dylan Fitterer': 29, 'Maxis™': 25},
 1990: {'id Software': 3, 'LucasArts': 1},
 1992: {'3D Realms (Apogee Software)': 1, 'Redwood Games': 1},
 1993: {'Humongous Entertainment': 1,
  'MicroProse Software, Inc': 1,
  'Gremlin Interactive': 1},
 1999: {'Sven Co-op Team': 11,
  'Valve': 6,
  'Irrational Games,Looking Glass Studios': 4},
 2000: {'Valve': 37, 'Ion Storm': 8, 'Rebellion': 5},
 2001: {'Gearbox Software': 3, 'Firaxis Games': 3, 'Volition, Inc.': 2},
 1997: {'Oddworld Inhabitants': 15,
  'Interplay Inc.': 4,
  'Cavedog Entertainment': 3},
 1996: {'Cyberdreams': 1, 'Rogue Entertainment': 1, 'Gremlin Interactive': 1},
 1994: {'id Software': 5, 'Lucasfim': 1, 'Humongous Entertainment': 1},
 1989: {'MicroProse Software, Inc': 1},
 1991: {'3D Realms (Apogee Software)': 1}}

In [11]:
top1 = []
top2 = []
top3 = []

for x in anio:
    names = list(filtered_dict[x].keys())
    if len(names) >= 1:
        top1.append((names[0], filtered_dict[x][names[0]]))
    if len(names) >= 2:
        top2.append((names[1], filtered_dict[x][names[1]]))
    if len(names) >= 3:
        top3.append((names[2], filtered_dict[x][names[2]]))

In [12]:
import pandas as pd

# Asegúrate de que todas las listas tengan la misma longitud
max_len = max(len(anio), len(top1), len(top2), len(top3))
anio = list(anio)
top1 = list(top1)
top2 = list(top2)
top3 = list(top3)

# Rellena las listas con None si es necesario
anio.extend([''] * (max_len - len(anio)))
top1.extend([''] * (max_len - len(top1)))
top2.extend([''] * (max_len - len(top2)))
top3.extend([''] * (max_len - len(top3)))

# Crea el DataFrame
impo2 = pd.DataFrame(data={'Anio': anio, 'Top 1': top1, 'Top 2': top2, 'Top 3': top3})

In [15]:
impo2.to_csv('data_set_limpio\Max_developer_year.csv',index=False)